header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
.header-container {
  max-width: 1300px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
}
ul {
  display: flex;
  gap: 20px;
}
nav a {
  color: #e5e5e5;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.logo {
 width: 246.575px;
height: 48px;
flex-shrink: 0;
aspect-ratio: 246.58/48.00;
}
.active {
  color:;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-1 {
  height: 800px;
  background-image: url("../images/gomismta.jpg");
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.s1-container {
  width: 1300px;
  margin: 0 auto;
  padding-top: 315px;
}

.infobox {
  width: 530px;
}
.adv {
  color: #fff;
  text-align: right;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 77px;
  height: 22px;
  border-radius: 8px;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 15px;
  color: black;
}
.rn {
  color: #fff;
  font-family: Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: black;
}
